@keyframes ascenar {
    0%{
        transform: translateX(0);
        transform: rotate(0deg);
    }
    25%{
        transform: translateX(-50px);
        transform: rotate(-50deg);
    }
    50%{
        transform: translateX(0);
        transform: rotate(0deg);
    }
    75%{
        transform: translateX(50px);
        transform: rotate(50deg);
    }
    100%{
        transform: translateX(0);
        transform: rotate(0deg);
    }
}

body{
    background: linear-gradient(to right, rgb(73, 73, 73), rgb(46, 46, 126));
    color: #F6F6F6;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 24px 64px;
    border-bottom: 1px solid white;
    box-shadow: 0 10px 7px 0 rgba(0, 0, 0, 0.5);
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header span {
    font-size: 32px;
    animation: ascenar 1.5s 2 linear;
}

main {
    display: flex;
    height: calc(100vh - 150px);
    max-height: 100%;
    max-width: 800px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 32px;
}

main p {
    max-width: 500px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-right: 18px;
    margin-top: 3rem;
}

.links a {
    background-color: white;
    color: black;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    display: flex;
    gap: 8px;
    align-items: center;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
}

.links a span:nth-child(1) {
    font-size: 20px;
}

.links a:hover {
    background-color: black;
    color: white;
    text-decoration: underline;
    border: 1px solid white;
}

.links a:active {
    background-color: white;
    color: black;
}

main img {
    width: 300px;
    border-radius: 100%;
    margin-left: 30px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

main .imagem {
    border-radius: 30px;
    margin-top: 32px;
    filter: grayscale(70%);
}

strong{
    color: #22D4FD;
}

footer {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid white;
    text-align: center;
    padding: 8px 0;
    box-shadow: 0 -7px 10px 0 rgba(0, 0, 0, 0.5);
}

.download-curriculo {
    background-color: white;
    padding: 18px 24px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.main {
    display: flex;
    flex-direction: column-reverse;
}

.habilidades {
    text-align: center;
    max-width: 500px;
}

.habilidades ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.habilidades ul li {
    background-color: white;
    color: black;
    padding: 12px 32px;
    border-radius: 8px;
}

.download-curriculo i {
    margin-right: 8px;
}

.download-curriculo:hover {
    background-color: black;
    color: white;
}